<div id="xrs_base" phx-update="ignore" phx-hook="xrs_hook" />
<.unignorable_modal :if={!@entered} id="welcome_modal" show on_confirm={dispatch_xrs("entered")}>
  <:title><%= @space.name %></:title>
  <:subtitle><%= @space.description %></:subtitle>
  <:confirm>Enter Space</:confirm>
</.unignorable_modal>
<%= if @entered do %>
  <.menu menu_state={@menu_state} space={@space} member_id={@member_id} />

  <.mic_toggle mic={@mic} />
<% end %>
