<div id="leftpane" class="w-2/12 bg-teal-500 h-full">
  <.button phx-click={JS.push("select_submenu", value: %{"submenu" => "entities"})}>
    Entities
  </.button>
  <.button phx-click={JS.push("select_submenu", value: %{"submenu" => "add_entity"})}>
    Add Entity
  </.button>
  <.button phx-click={dispatch_xrs(method: "toggle_log_wall")}>
    Logs
  </.button>
</div>
