<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="member-token" content={Phoenix.Token.sign(@conn, "salt", @member_id)} />

    <.live_title suffix=" · TheXR.space">
      <%= assigns[:page_title] || "Extended Reality Experience" %>
    </.live_title>
    <script src="https://cdn.babylonjs.com/ammo.js">
    </script>
    <script src="https://preview.babylonjs.com/babylon.js">
    </script>
    <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.min.js">
    </script>
    <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js">
    </script>
    <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js">
    </script>
    <script src="https://code.jquery.com/pep/0.4.3/pep.js">
    </script>
    <script src="https://download.agora.io/sdk/release/AgoraRTC_N.js">
    </script>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-indigo-950 antialiased">
    <%= @inner_content %>
  </body>
</html>
