<script>
  window.addEventListener("DOMContentLoaded", () => {
    // a little delay to allow xrs to initialize all the systems
      console.log("starting tests...");
      window.tests();
      console.log("ended tests");
  });
</script>
