<h1 class="text-lg text-center my-10 text-blue-200">Welcome to TheXR.space</h1>
<div class="text-center">
  <a
    class="font-medium text-blue-600 dark:text-blue-500 hover:underline ml-5 align-middle"
    href="/spaces"
  >
    Spaces
  </a>
</div>
