<h1 class="text-center my-10 text-fuchsia-700 text-7xl">Welcome to TheXR.space</h1>
<div class="flex justify-evenly border-t border-indigo-900">
  <.link href={~p"/spaces"} class="text-rose-900 text-xl hover:underline">
    Spaces
  </.link>
</div>
